[Unit]
Description=sonos-relay
After=network-online.target

[Service]
Type=exec
ExecStart=bash -c 'exec python /home/pi/sonos-relay/multicast-relay/multicast-relay.py --interfaces $(nmcli con | tail -n +2 | awk "{print \\$NF}" | grep eth0) --noMDNS --foreground'
Restart=always

[Install]
WantedBy=multi-user.target
